body {
background: url("https://townsquare.media/site/366/files/2014/06/oderus-1.jpg?w=980&q=75");
background-size: cover;
background-repeat: no-repeat;

}

h1{
    color: salmon;
    font-size: 80px;
    margin-left: 250px;
}

h2 {
    position: absolute;
    color: black;
    padding-left: 280px;
   top: 150px;
    
}